
<h3 class="my-5">List of Products</h3>
<div class="row my-3">
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
    <div class="col-4">
        <app-card></app-card>
    </div>
</div>